<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Search Page</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            text-align: left;
            padding: 8px;
        }

        th {
            background-color: #4CAF50;
            color: white;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        /* Increase the input field size */
        input[type="text"] {
            width: 300px;
            padding: 10px;
        }
    </style>
</head>
<body>
    <h1>Search Page</h1>
    <form th:action="@{/search}" method="post">
        <label for="kewywordInput">Enter URL:</label>
        <input type="text" name="keyword" placeholder="Enter your search keyword" />
        <button type="submit">Search</button>
    </form>
    <br/>
    <table>
        <thead>
            <tr>
                <th>Result</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="result : ${searchResults}">
                <td colspan="3">
                    <strong> <p th:text="${result.title}"> </p></strong>
                    <p th:text="${result.citacao}"></p>
                    <p th:text="${result.URL}"></p>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>
